<header class="header header-2 position-relative">
  <div class="header-area">
    <div class="container-fluid">
      <button class="login-btn btn btn-primary" (click)="onSignIn()">
        Sign in
      </button>
      <div class="row">
        <div class="col-md-4 offset-md-4 col-7">
          <div class="logo text-md-center">
            <h2>Demo</h2>
          </div>
        </div>

        <div class="col-md-4 col-5">
          <div class="mini-cart text-end">
            <ul>
              <li>
                <a class="cart-icon">
                  <img
                    src="assets/img/cart/shopping-cart.png"
                    width="30px"
                    height="30px"
                    alt=""
                  />
                  <span>{{ cartData?.totalQty }}</span>
                </a>
                <div class="mini-cart-brief text-left">
                  <div class="all-cart-product clearfix">
                    <div
                      class="single-cart clearfix"
                      *ngFor="let cartProduct of cartData?.products"
                    >
                      <div class="cart-photo">
                        <img [src]="cartProduct?.image" alt="" />
                      </div>
                      <div class="cart-info">
                        <h5>{{ cartProduct?.title | slice : 0 : 15 }}</h5>
                        <p class="mb-0">
                          Price : {{ cartProduct?.price | currency }}
                        </p>
                        <p class="mb-0">{{ cartProduct?.qty }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="cart-totals text-center">
                    <h5 class="mb-0" *ngIf="!cartData?.products?.length">
                      <span>There is no items yet!</span>
                    </h5>
                    <h5 class="mb-0 mt-3">
                      Total:
                      <span>{{ cartData?.totalPrice | currency }}</span>
                    </h5>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
