<div class="header-wrapper">
  <header class="header">
    <div class="top_bar">
      <div class="container">
        <div class="row">
          <div class="col d-flex flex-row">
            <div class="top_bar_contact_item">
              <div class="top_bar_icon">
                <img
                  src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png"
                  alt=""
                />
              </div>
              01033842262
            </div>
            <div class="top_bar_content ml-auto">
              <div class="top_bar_user">
                <div><a href="#">Sign Out</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
